* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #2c2c2c;
  color: white;
}

.container {
  width: 980px;
  margin: auto;
}

table {
  width: 100%;
  border: 1px solid #404040;
  margin-top: 50px;
  border-radius: 5px;
  background: #2f2f2f;
}

td {
  width: 33%;
  padding: 10px;
}

td:last-child {
  text-align: end;
  font-weight: bolder;
}

td:nth-child(2) {
  padding-left: 100px;
}

tr:not(:last-child) td {
  border-bottom: 1px solid #404040;
}

.search-container {
  display: flex;
  justify-content: flex-end;
}

.search {
  background: #444444;
  width: fit-content;
  padding: 10px;
  border-radius: 3px;
}

.search-icon {
  padding-right: 5px;
}

[name="search"] {
  border: none;
  color: white;
  background: none;
}

.grey {
  color: #5c5c5c;
}

.bold {
  font-weight: bolder;
}

.triangle {
  width: 8px;
}
