html {
  font-family: Helvetica, sans-serif;
}

.wrapper {
  width: 90%;
  margin: auto;
}

.menu div {
  height: 22px;
  width: 22px;
}

.grey-line,
.tabs {
  height: 1px;
  background: #dbdbdb;
  margin-left: 1%;
}

.tabs {
  position: relative;
}

.tabs-item {
  z-index: 1;
  width: 64px;
  height: 1px;
  background: #262626;
  position: relative;
  right: 55px;
}

.header-input {
  width: 216px;
  height: 29px;
  background: url("img/input-bj.png") no-repeat;
  background-size: 60px;
  background-position: center;
}

.header-input:focus {
  background: none;
}

.avatar {
  margin-bottom: 20px;
}

.avatar img {
  width: 154px;
  height: 153px;
}

.name span:first-child {
  font-weight: 500;
  font-size: 26px;
}

.about p {
  width: 80%;
}

.history img {
  width: 79px;
  height: 79px;
  border-radius: 50%;
}

.posts-menu-item {
  font-size: 12px;
  font-weight: bolder;
}

.grey {
  color: #8f8f8f;
}

.posts-menu-item:hover {
  cursor: pointer;
}

.post {
  width: 297px;
  height: 297px;
  background-image: url("./img/bg.png");
}

.posts-container {
  flex-wrap: wrap;
}

.dotes {
  font-size: 18px;
  font-weight: bold;
}

.menu img:hover,
.menu div:hover {
  cursor: pointer;
}

.notifications {
  position: relative;
}

.notifications::after {
  content: "5";
  position: absolute;
  background: #dc565b;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  font-size: 12px;
  width: 18px;
  height: 18px;
  right: -10px;
}

.history {
  flex-wrap: wrap;
}

@media (max-width: 500px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .header-input {
    margin: 20px 0;
  }
}
