@media (max-width: 720px) {
  /* common */

  .blue-icon {
    fill: #00adee;
  }

  h2 {
    font-size: 28px;
    line-height: 37px;
    text-align: center;
  }

  p {
    font-size: 16px;
    line-height: 23px;
    text-align: center;
  }

  .container {
    width: 100vw;
  }

  /* header */

  header .container {
    background: #f4f6f9;
    justify-content: center;
    width: 100%;
    min-height: 525px;
  }

  .header-h1 {
    margin: auto;
    text-align: center;
    margin-top: 86px;
    font-size: 30px;
    line-height: 40px;
    width: 90%;
    letter-spacing: 0.03em;
  }

  .header-p {
    margin: auto;
    margin-top: 30px;
    width: 92%;
  }

  .header-content {
    margin: 0;
    width: 100%;
    text-align: center;
  }

  .header-btn-container {
    margin: auto;
    margin-top: 50px;
  }

  .logo {
    margin: auto;
    width: fit-content;
    margin-top: 34px;
  }

  .learn-more {
    display: none;
  }

  /* main */

  /* first-section */

  .first-section .container {
    background: #fff;
    flex-direction: column-reverse;
  }

  .section-content {
    width: 100%;
    margin: 0;
    align-items: center;
  }

  .section-content a:first-child {
    margin-top: 54px;
  }

  .section-content a:last-child {
    margin-bottom: 20px;
  }

  .first-section-video {
    width: 100%;
    background: url("../img/first-bg.png");
    height: 360px;
    padding-left: 20px;
    padding-top: 70px;
  }

  .first-section-video-top {
    width: 247px;
    height: 150px;
  }

  .first-section-video-bottom video {
    width: 247px;
    height: 150px;
    background: none;
    left: 75px;
  }

  .first-section-video p {
    font-size: 11px;
    text-align: start;
  }

  .match-info {
    height: 75%;
  }

  .match-info .content {
    justify-content: start;
  }

  .match-info-img img {
    width: 50%;
    height: 60px;
  }

  .chelsea {
    right: 10px;
  }

  .sound-toggler {
    height: 25%;
  }

  .switch {
    margin-left: 5px;
  }

  .match-info-content p:nth-child(2) {
    margin: 10px 0;
  }

  /* second-section */

  .second-section .container {
    background: #fff;
    flex-direction: column;
  }

  .section-content p {
    width: 92%;
  }

  .second-section-img {
    height: 565px;
    width: 100%;
    background: url("../img/mobile-second-bg.png") no-repeat;
    background-position: center;
    padding: 0;
    padding-top: 75px;
  }

  .second-section-imgs-container {
    height: 412px;
    margin: auto;
    width: 300px;
  }

  .second-section-imgs-container > img {
    position: absolute;
    left: -15px;
    top: -20px;
    height: 492px;
    width: 300px;
  }

  .notifications {
    position: absolute;
    left: 10px;
    top: 5px;
  }

  .mobile {
    position: absolute;
    left: 215px;
    top: 265px;
  }

  /* third-section  */

  .third-section .container {
    background: #fafafa;
    padding-bottom: 70px;
  }

  .third-section h2 {
    color: black;
  }

  .third-section-content {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .third-section-content_item p {
    color: black;
  }

  .third-section-content_item-icon {
    margin: auto;
    width: fit-content;
  }

  /* fourth-section */

  .fourth-section .container {
    display: none;
  }

  .container-mobile {
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;
  }

  .container-mobile-content {
    width: 310px;
    margin: auto;
    position: relative;
  }

  .fourth-section-item {
    width: 100%;
    margin-top: 39px;
  }

  .arrow-right {
    position: absolute;
    top: 100px;
    left: 285px;
    width: 47px;
    height: 47px;
  }

  /* fives-section */

  /* sixth-section */

  .sixth-section .container {
    background: #fff;
    min-height: 400px;
    flex-direction: column;
  }

  .sixth-section-content {
    width: 100%;
    margin: 0;
    padding: 50px 0;
  }

  .sixth-section-content p {
    width: 92%;
    margin: auto;
    margin-top: 10px;
  }

  .sixth-section-img {
    display: block;
    width: 100%;
    height: 261px;
    background: url("../img/sixth-bg.png") no-repeat;
    background-position: center;
    background-size: cover;
  }

  /* footer */

  footer .container {
    align-items: flex-start;
    padding: 0 10%;
    height: 210px;
  }

  .footer-content {
    flex-direction: column;
    margin: 0;
    align-items: flex-start;
    width: 100%;
  }

  .footer-content > img {
    order: 1;
    margin-top: 43px;
  }

  .sprite {
    order: 2;
    margin-top: 11px;
  }

  .footer-content nav {
    order: 3;
    width: 100%;
    margin-top: 35px;
  }

  .footer-menu {
    justify-content: space-between;
  }

  .footer-menu li:not(:last-child) {
    margin-right: 0;
  }

  /* end */
}
